@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
	background: rgb(67, 27, 129);
	background: linear-gradient(
		90deg,
		rgba(67, 27, 129, 1) 0%,
		rgba(136, 112, 185, 1) 29%,
		hsl(189, 94%, 43%) 66%,
		rgba(229, 229, 229, 1) 100%
	);
}
h1.headline {
	font-family: 'Ubuntu', sans-serif;
}
p {
	font-family: 'Ubuntu', sans-serif;
}
.fa-paper-plane {
	font-size: 25px;
}
.cursor:after {
	color: white;
}
@media screen and (min-width: 768px) {
	.bg-gradient {
		min-height: 500px;
	}
}
