@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
	background: rgb(67,27,129);
	background: linear-gradient(90deg, rgba(67,27,129,1) 0%, rgba(136,112,185,1) 29%, rgba(6,182,212,1) 66%, rgba(229,229,229,1) 100%);
}

.fa-paper-plane {
	font-size: 25px;
}
